.container {
  margin-top: 150px;
  text-decoration: none;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .back {
    margin-top: 330px;
  }
}

.add button {
  top: 0;
  right: 0;
  width: 200px;
  height: 70px;
  border-radius: 2%;
  background-color: #319795;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 15px #319795;
  margin-top: 20px;
}

.add button p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 50px;
}

.add button p:hover {
  color: #319795;
}

.title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #142328;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 20px;
    margin-top: 200px;
  }
}

.table {
  display: table;
  table-layout: fixed;
  flex-direction: column;
  border-collapse: collapse;
  border-spacing: 2;
  border: 3px solid #ccc;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  align-content: left;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

.th {
  background-color: #ddd;
}

.input {
  width: 100%;
  text-decoration-color: black;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80;
  background-color: #ffff;
  border: 2px;
  border-radius: 30px;
  box-shadow: 2px 2px 15px #142328cc;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-top: 1px;
}
