* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.form {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  font-family: "Raleway";
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  height: 70rem;
  width: 35rem;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  height: 75rem;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  height: 80rem;
  padding: 20px 20px 20px 20px;
}

@media (max-width: 600px) {
  .form {
    flex-direction: column;
  }
}

.title-product {
  font-size: xx-large;
  margin-left: 10%;
}
.form label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.form input,
.form textarea {
  /* font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f; */
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
  font-family: "Raleway";
}

.form input:focus {
  outline: none;
  border: 2px solid #319795;
}
.form textarea {
  outline: none;
  border: 2px solid #319795;
}

.error {
  /* color: #e92b2d;
  font-weight: 600;
  font-size: 12px; */
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.form button[type="submit"] {
  display: block;
  background: #319795;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
  margin-top: 10px;
}
.form button[type="submit"]:hover {
  background: #319795;
}

.form .successfull {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #319795;
}

.form input[type="radio"] {
  width: auto;
}

.form .checked {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-bottom: 5px;
}

.form .select {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}
