.homeCard{
  display:flex;
  flex-direction: column;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  background-color: white;
  max-width: 30rem;
  height: auto;
  gap: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  margin:10px;
  transition: 0.2s ease-in;
}
.homeCard:hover{
  box-shadow: 4px 3px 4px 2px #319795;
  transform: translateY(-5px);
}
.homeCard > a {
  text-decoration: none;
  color: inherit;
}
.homeCard > a:hover{
  text-decoration: none;
}

.imagen{
  height: 230px;
}

.item1{
  display:flex;
  width: 100%;
  height: 80px;  
}

.title-stars{
  width: 70%;
  
}
.item1 h1{
  font-size: 20px;
  max-height: 5rem;
  
}

.item2{
  display:flex;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  
}

.cantProducts{
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 9px;
  align-items: center;
}

.cantProducts button{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1.5px solid #319795;
  border-radius: 5px;
  color: #319795;
  cursor: pointer;
  font-size: 24px;
}

.item3{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
 

}

.addCart{
  border: inherit;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  width: 85%;
  height: 40px;
  background: #319795; 
}

.addCart:hover{
  background-color: #38B2AC;
  cursor: pointer;
}

.fav{
  width: 40px;
  background-color: transparent;
  border: 1.5px solid #319795;
  border-radius: 4px;
  color: #319795;
  font-size: 25px;
}

.fav:hover{
  background-color: #319795 ;
  color: white;
  cursor:pointer;
}

.inStock{

  justify-content: flex-end;
  width: 30%;
 
  
}

.inStock span{
  border: 0.5px solid;
  border-radius: 8px;
  height: 15px;
  padding: 7px;
  font-size: 12px;
  
}

