.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #319795;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;  
    color: #319795;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    width: 100%;
    background-color: white;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #319795;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;  
        color: #319795;
        width: 100%;  
        height: 320px;
    }
}

.nav-bar a {
    text-decoration: none;
    color: #319795;
    font-family: 'Raleway';
}

.nav-bar a:hover {
    color: #319795;
    text-decoration: underline;
}


.logo{
    width:150px
}
.search-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #B4B4B4;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    background-color: #E8E8E8;
    color: #E8E8E8;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;  
} 

@media screen and (max-width: 768px) {
    .search-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #B4B4B4;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        background-color: beige;
        color: bisque;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;  
    } 
}
    
.search-bar input {
border: none;
background-color: #E8E8E8;
color: black;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 100%;  
width: 88%;
height:88%;
}

.btn {
    border: 2px solid #319795;
    border-radius: 10px;
    background-color:#319795;
    color: white;
    font-family: 'Raleway';
    width: 46px;
    height: 49px;
}

.btn:hover {
    background-color: #38B2AC;
    color: #319795;
    border: 2px solid #319795;
    cursor: pointer;
}

.cart {
    display: flex;
    justify-content: space-around;
    column-gap: 0.1rem;
    align-items: center;
    width: 12%;
    height: 60px;
    border-radius: 20px;
    font-family: 'Raleway';    
}
@media screen and (max-width: 768px) {
    .cart {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 60px;
        border-radius: 20px;
        font-family: 'Raleway';    
    }  
}

.btnes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    font-family: 'Raleway';
    border: 2px solid #319795;
    color: #319795;
    
}

.btnes > a  {
    color: black;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    align-self: stretch;
}

.btnes > a:hover  {
    color: black;
    text-decoration: none;
    
}
.btnes:hover {
    background-color: #319795;
    border: 2px solid #319795;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .btnes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        font-family: 'Raleway';
        border: 2px solid #319795;
        color: #319795;
   
    }
    
    .btnes:hover {
        background-color: yellowgreen;
        color: #319795;
        border: 2px solid #319795;
        cursor: pointer;
    }
}

.search-bar .btn img {
    width: 20px;
    height: 20px;
}