.Glider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: grab;
    touch-action: pan-y;
}





