.footer {
    display: flex;
    background-color: #319795;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;  
    color: white;
    margin-top: 105px;
    
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}

.footer li {
    list-style: none;
    height: 60px;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    

}

@media screen and (max-width: 768px) {
    .footer li{
        margin-top: 10px;
    }
}

.footer li a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .footer li a {
        text-decoration: none;
        color: white;
    }
    
}

.footer li a:hover {
    text-decoration: underline;

}
@media screen and (max-width: 768px) {
    .footer li a:hover {
        text-decoration: underline;
    }
    
}

.footerText {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .footerText {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.auto img{
    height: 50px;
    width: 50px;  
}

@media screen and (max-width: 768px) {
    .auto img{
        height: 50px;
        width: 50px;
    }
}

.auto h5{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .auto h5{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .auto img{
        height: 50px;
        width: 50px;
        margin-top: 10px;
    }
    .auto {
        margin-top: 10px;
    }
    .auto li {
        margin-top: 10px;
    }
}
    


