.modal {
  background-color: #f5f5f5;
}

.modal-header {
  color: #319795;
}

.modal {
  /* Add your desired styles here */
  width: 800px;
  height: 800px;
}
.btn-sucess {
  /* Add your styles here */
  background-color: #319795;
  width: 30%;
  height: 100%;
}
